/* Basic styling for the button */
.button {
  font-size: 28px; /* Font size */
  background-color: #1aff00; /* Bright green text color */
  color: #0F380F; /* Dark green background */
  border: 2px solid #1aff00; /* Bright green border */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  text-transform: uppercase; /* Uppercase text for a computer-like appearance */
  padding: 10px 20px; /* Padding for button size */
  cursor: pointer; /* Cursor change to indicate interactivity */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the button */
.button:hover {
  background-color: #0F380F; /* Dark green background on hover */
  color: #1aff00; /* Bright green text color on hover */
}

.button:active, .button:focus {
  background-color: #1A472A; /* Slightly lighter green for active/focused state */
  outline: none; /* Remove default focus outline */
}

.button:disabled {
  background-color: #0F380F; /* Dark green background */
  color: #394733; /* Muted green color for disabled text */
  cursor: not-allowed; /* Cursor to indicate the button is disabled */
}

@keyframes blinking {
  0% { background-color: #ff0000; }
  50% { background-color: #870000; }
  100% { background-color: #ff0000; }
}

.warning {
  background-color: #ff0000; /* Red background for urgency */
  color: #ffffff; /* White text for high contrast */
  border: 1px solid #ff4500; /* Orange-red border for emphasis */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  padding: 10px; /* Padding inside the banner */
  text-align: center; /* Center the text */
  margin: 10px 0; /* Add some margin around the banner */
  animation: blinking 2s infinite; /* Apply the blinking animation */
}

.title-global {
  color: #2ed200; /* Orange-red color for distinction */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for the retro feel */
  text-transform: uppercase; /* Uppercase text for impact */
  text-align: center; /* Center the header */
  font-size: 36px; /* Larger font size for prominence */
  margin-top: 30px; /* Top margin for spacing */
  margin-bottom: 20px; /* Bottom margin for spacing */
  padding: 10px; /* Padding around the text */
  border-bottom: 3px solid #1aff00; /* Green underline for brand consistency */
  letter-spacing: 3px; /* Increase letter spacing for retro computer effect */
}

select {
  background-color: #0F380F; /* Dark green background */
  color: #1aff00; /* Bright green text color */
  border: 1px solid #1aff00; /* Bright green border */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  cursor: pointer; /* Cursor change to indicate interactivity */
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 10px;
  width: 250px;
  padding: 5px 5px 5px 15px;
  font-size: 28px;
  height: 60px;
  appearance: none;
  border-radius: 5px;
}

select:hover {
  background-color: #1A472A; /* Slightly lighter green for hover */
}

select:focus {
  border-color: #1A472A; /* Highlight color for border when focused */
}

body {
    background-color: #0b2a0b; /* Dark green, almost black, typical for Fallout terminal */
    color: #1aff00; /* Bright green text color for contrast */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for the retro feel */
    line-height: 1.6; /* Adjust line height for better readability */
    margin: 0; /* Reset default margin */
    padding: 20px; /* Padding for the body content */
    font-weight: 300;
    font-size: 18pt;
    min-width: 60em;
}

/* Style for common elements to match the theme */
h1, h2, h3, h4, h5, h6 {
    color: #ff4500; /* Orange-red color for headings */
}

p, li, div, span {
    font-size: 16px; /* Adjust the font size as needed */
}


a {
  color: #1aff00; /* Bright green text color for links */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  text-decoration: none; /* Remove the default underline */
}

a:hover, a:focus {
  color: #ff4500; /* Change color on hover/focus for emphasis */
  text-decoration: underline; /* Add underline on hover/focus for clarity */
}

.puzzleoutput {
  white-space: pre-wrap; /* Maintains whitespace and line breaks */
  word-wrap: break-word; /* Ensures long words don't overflow */
  overflow-y: auto; /* Adds a scrollbar if the content overflows vertically */
  max-height: 200px; /* Set a maximum height for the output area */

  background-color: #0F380F; /* Dark green background */
  color: #1aff00; /* Bright green text color */
  border: 1px solid #1aff00; /* Bright green border */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  padding: 10px; /* Padding inside the text area */
  resize: vertical; /* Allow only vertical resizing */
  width: 100%; /* Full width to fit container */
  box-sizing: border-box; /* Include padding and border in the width */
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  border-radius: 5px;
  height: 300px; /* Initial height */
  line-height: 1.5;
  overflow: auto; 
}

.puzzleheader {
  color: #1aff00; /* Bright green text color */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  text-transform: uppercase; /* Uppercase text for a computer-like appearance */
  border-bottom: 2px solid #1aff00; /* Green underline for emphasis */
  padding-bottom: 5px; /* Padding below the text, above the underline */
  margin-top: 20px; /* Spacing above the header */
  margin-bottom: 10px; /* Spacing below the header */
}


input[type="text"], textarea {
  background-color: #0F380F; /* Dark green background */
  color: #1aff00; /* Bright green text color */
  border: 1px solid #1aff00; /* Bright green border */
  font-family: 'Courier New', Courier, monospace; /* Monospace font for retro feel */
  padding: 10px; /* Padding inside the text area */
  resize: vertical; /* Allow only vertical resizing */
  width: 100%; /* Full width to fit container */
  box-sizing: border-box; /* Include padding and border in the width */
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  border-radius: 5px;
  height: 300px; /* Initial height */
  line-height: 1.5;
  overflow: auto; 
}

textarea {
  vertical-align: top;
}